.cookieLayer__base {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  color: var(--color-white);
  background-color: var(--background-color);
  padding: 20px;
  text-align: center;
  z-index: 2;
  box-shadow: 0 5px 3px -2px #e4e4e4
}

.cookieLayer__base--hidden {
  display: none;
}

.cookieLayer__title {
  font-size: 25px;
  margin-bottom: 10px;
}

.cookieLayer__disclaimer {
  font-size: 10px;
  color: var(--color-gray);
}

